In [87]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
oscar = pd.read_csv('movies.csv')

In [88]:
oscar.head(2)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Parasite,2019,R,08 Nov 2019,132 min,"Comedy, Drama, Horror",Bong Joon Ho,"Bong Joon Ho, Han Jin-won","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho",Greed and class discrimination threaten the ne...,...,96,8.5,"737,033",tt6751668,movie,11 Oct 2019,"$53,369,749",NaN,NaN,True
1,Green Book,2018,PG-13,16 Nov 2018,130 min,"Biography, Comedy, Drama",Peter Farrelly,"Nick Vallelonga, Brian Hayes Currie, Peter Far...","Viggo Mortensen, Mahershala Ali, Linda Cardellini",A working-class Italian-American bouncer becom...,...,69,8.2,"461,846",tt6966692,movie,12 Mar 2019,"$85,080,171",NaN,NaN,True

### 1) (Graph) What was the runtime for each movie?

In [108]:
runtimes = oscar[['Title', 'Runtime']]
print(runtimes)

                                             Title  Runtime
0                                         Parasite  132 min
1                                       Green Book  130 min
2                               The Shape of Water  123 min
3                                        Moonlight  111 min
4                                        Spotlight  129 min
5  Birdman or (The Unexpected Virtue of Ignorance)  119 min
6                                 12 Years a Slave  134 min
7                                             Argo  120 min
8                                       The Artist  100 min
9                                The King's Speech  118 min

### 2) What movie had the longest runtime?

In [109]:
longest = oscar.sort_values(by=['Runtime'], ascending=False).head(1)
print(longest.Title)

6    12 Years a Slave
Name: Title, dtype: object

### 3)  Is there any relationship between the length of the movie (runtime) and the number of awards a movie won?

### 4)  (Graph) How many awards and nominations did each movie receive?

In [112]:
awards = oscar[['Title', 'Awards']]
print(awards)

                                             Title  \
0                                         Parasite
1                                       Green Book
2                               The Shape of Water
3                                        Moonlight
4                                        Spotlight
5  Birdman or (The Unexpected Virtue of Ignorance)
6                                 12 Years a Slave
7                                             Argo
8                                       The Artist
9                                The King's Speech

                                           Awards
0  Won 4 Oscars. 308 wins & 271 nominations total
1   Won 3 Oscars. 59 wins & 124 nominations total
2  Won 4 Oscars. 138 wins & 358 nominations total
3  Won 3 Oscars. 228 wins & 296 nominations total
4  Won 2 Oscars. 124 wins & 143 nominations total
5  Won 4 Oscars. 193 wins & 292 nominations total
6  Won 3 Oscars. 242 wins & 337 nominations total
7   Won 3 Oscars. 94 wins & 156 nominations total
8  Won 5 Oscars. 162 wins & 204 nominations total
9  Won 4 Oscars. 108 wins & 206 nominations total